body{
    background-color: #efd1f6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

input:checked+label{
    text-decoration:line-through rgb(93, 10, 113);
}

.to_do{
    margin: auto;
    width: 30%;
    height: 330px;
    background-color:#f8f2fa;
    text-align: center;
    padding: 10px 25px;
    box-sizing: border-box;
    box-shadow: 0 0 15px 2px rgb(173, 151, 176);
    border-radius: 7px;
    position: relative;
    top: 150px;
    bottom: 150px;
    overflow: auto;
}

.button{
    margin: auto;
    width: auto;
    height: auto;
    background-color: #d667f5;
    padding: 15px 25px;
    border-radius: 20px;
    text-align: center;
    display: block;
    border: none;
    box-shadow: 0 0 15px 2px rgb(173, 151, 176);
    font-weight: bold;
    color: #f8f2fa;
    transition: transform 0.4s ease-in-out;
    position: relative;
    top: 135px;
    z-index: 2;
    cursor: pointer;
}

.button:hover{
    background-color: #47a6f5;
    transform: scale(1.15);
}

.title{
    margin: auto;
    width: 30%;
    background-color: #d667f5;
    text-align: center;
    color: #f8f2fa;
    box-shadow: 0 0 15px 2px rgb(173, 151, 176);
    padding: 15px 30px;
    border-radius: 7px;
    box-sizing: border-box;
    position: relative;
    top: 120px;
    font-weight: bold;
}

label{
    cursor: pointer;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background-color: #d5d5d5;
    border-radius: 1px;
    cursor: pointer;
    outline: none;
}

input[type="checkbox"]::after{
    font-family: "font awesome 5 free";
    content: "\f00c";
    font-weight: 900;
    font-size: 12px;
    color: white;
    position: relative;
    left: 3px;
    top: 3px;
    display: none;
}

input[type="checkbox"]:hover{
    background-color: #919191;
}

input[type="checkbox"]:checked{
    background-color: #55adff;
}

input[type="checkbox"]:checked::after{
    display: block;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #b9b9b9;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb{
    background-color: #b779e7;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #d6a0ff;
}